@font-face {
  font-family: 'BonaNova';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/BonaNova-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BonaNova';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/BonaNova-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'BonaNova';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/BonaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Corinthia';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Corinthia-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Corinthia';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/Corinthia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Lora-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/Lora-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Lora-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/Lora-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Lora-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/Lora-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: normal;
  src: url('/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: italic;
  src: url('/assets/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: italic;
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/fonts/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('/assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
  src: url('/assets/fonts/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: italic;
  src: url('/assets/fonts/Poppins-ThinItalic.ttf') format('truetype');
}